/__pycache__/
/__pycache__/*
/Downloads/
/Downloads/*
/Lib/
/Lib/*
/Include/
/Include/*
/Scripts/
/Scripts/*
test.torrent
/bittorrent/
*.iso
pyvenv.cfg
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
